
.homePage{
    background: white;
    height: 600px;
}
.homeContent{
    position: absolute;
    top: 40%;
    left: 10%;
}
.search-ride-btn{
    width: 180px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.offer-ride-btn{
    width: 180px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}